<link rel="stylesheet" href="register-client-contact.component.scss">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<div class="title">
    <p>Contact</p>
</div>

<form class="form-input">
    <div class="mb-3" style="width: 100%;">
        <label for="exampleFormControlInput1" class="form-label">Phone number</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
    </form>

    <form class="form-input">
      <div class="mb-3" style="width: 100%;">
        <label for="exampleFormControlInput1" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
    </form>

    <form class="form-input">
        <div class="mb-3" style="width: 100%;">
          <label for="exampleFormControlInput1" class="form-label">Social Network</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
      </form>

      <form class="button">
        <button type="button" class="btn btn-warning" style="width:200%;">Back</button>
        <button type="button" class="btn btn-warning" style="width:200%;">Next</button>
    </form>
