<link rel="stylesheet" href="register-wood-worker.component.scss">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<section>

  <nav class="navbar navbar-expand navbar-light bg-light " aria-label="Second navbar example">
      <div class="container-fluid">
          <img src="../img/logo.svg">
        
        <div class="nav justify-content-end" id="navbarsExample02">
         
          <ul class="navbar-nav " style="">
            <li class="nav-item">
              <a class="nav-link" href="#">Register Furniture</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Client</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Request</a>
            </li>
            <li class="nav-item">
            <img src="../img/profile.svg">
          </li>
        </ul>     
          
        </div>
      </div>
    </nav>

  </section>
  
  <div class="principal">

<div class= "">
<div class="title">
    <p>Sign in as woodwork</p>
</div>

  <div class="foto-perfil"><img src="../img/perfil.png" alt="">
  </div>
  

<div class="input">
<div class="mb-3" style="width: 100%;">
    <label for="exampleFormControlInput1" class="form-label">CNPJ</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">

  </div>
  
  <div class="mb-3" style="width: 100%;">
    <label for="exampleFormControlInput1" class="form-label">Company Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="" >
    
    <div class="button">
      <button type="button" class="btn btn-warning" style="width:30%">Next</button>
      </div>
    
  </div>
  
</div>
    
  </div>


  <div>
    
</div>
 


