<link rel="stylesheet" href="profile-wood-work-full.component.scss">

<div class="title">
    <p>Profile</p>
</div>

<div class="foto-perfil">
    <img src="../../assets/perfil.svg" class="img-fluid" alt="...">
</div>

<form class="form-input">
    <div class="mb-3" style="width: 100%;">
        <label for="exampleFormControlInput1" class="form-label">Company Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
   

    <form class="form-input">
      <div class="mb-3" style="width: 100%;">
        <label for="exampleFormControlInput1" class="form-label">CNPJ</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
    </form>

    <div class="sub-title">
        <p>Address</p>
    </div>

    <form class="form-input-2">
        <div class="mb-3" style="width: 100%;">
            <label for="exampleFormControlInput1" class="form-label">CEP</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
       
    
        <form class="form-input-2">
          <div class="mb-3" style="width: 100%;">
            <label for="exampleFormControlInput1" class="form-label">City</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
        </form>

          <form class="form-input-2">
            <div class="mb-3" style="width: 100%;">
              <label for="exampleFormControlInput1" class="form-label">Neighbor</label>
              <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>

           

          <form class="form-input-2">
            <div class="mb-3" style="width: 100%;">
                <label for="exampleFormControlInput1" class="form-label">Street</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
          </form>
        
            <form class="form-input-2">
              <div class="mb-3" style="width: 100%;">
                <label for="exampleFormControlInput1" class="form-label">Number</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
    
              <form class="form-input-2">
                <div class="mb-3" style="width: 100%;">
                  <label for="exampleFormControlInput1" class="form-label">Complement</label>
                  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
              </form>  

              <div class="sub-title">
                <p>Contact</p>
            </div>

            <form class="form-input-3">
                <div class="mb-3" style="width: 100%;">
                    <label for="exampleFormControlInput1" class="form-label">Phone number</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                  </div>
                </form>
            
                <form class="form-input-3">
                  <div class="mb-3" style="width: 100%;">
                    <label for="exampleFormControlInput1" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                  </div>
                </form>
        
                <form class="form-input-3">
                    <div class="mb-3" style="width: 100%;">
                      <label for="exampleFormControlInput1" class="form-label">Social Network</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>
                  </form>
        
                  <form class="button">
                    <button type="button" class="btn btn-warning" style="width:200%;">Search</button>
                </form>
    