<div class="d-flex flex-row">
<div class="title">
    <p>Login</p>
</div>

<form class="form-input">
    <div class="mb-3" style="width: 100%;">
        <label for="exampleFormControlInput1" class="form-label">Login</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
    </form>

    <form class="form-input">
      <div class="mb-3" style="width: 100%;">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
    </form>

    <form class="button">
        <button type="button" class="btn btn-warning" style="width:200%;">Back</button>
        <button type="button" class="btn btn-warning" style="width:200%;">Next</button>
    </form>
  </div>